/**
 * TeX logo typesetting courtesy of Edward O'Conner (http://edward.oconnor.cx/2007/08/tex-poshlet)
 */
.tex sub {
	text-transform: uppercase;
	vertical-align: -0.5ex;
	margin-left: -0.1667em;
	margin-right: -0.125em;
}
.tex sub {
	font-size: 1em;
}

body {
	font-size:100%;
	line-height:1.5;
	font-family: sans-serif;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F9F9F4;
}

canvas {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin: 1.25em auto;
}

h1, h2, h3 {
	margin-top:0;
	margin-bottom:0;
	font-weight: normal;
}
h1 {
	font-size: 1.5em;
	padding: 1.45833em 0 0;
	text-align: center;
	font-family: serif;
}
h2 {
	font-size: 1.33333em;
	padding: 1.25em 0 0;
}
h3 {
	font-size: 1.16667em;
	padding: 1.51785em 0 0;
	text-transform: lowercase;
	font-variant: small-caps;
	font-weight: bold;
}

p sub, p sup {
	font-size: 0.7em;
}

p sup {
	vertical-align: 1ex;
}

p sub {
	vertical-align: -0.5ex;
}

code {
	font-size: 1.1em;
}

p {
}

p.subtitle {
	padding:0;
	margin: 0;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 2em;
	font-size: 0.8em;
}

blockquote {
	font-style: italic;
}
